<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NewsPortal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<header th:replace="base :: header"></header>

<div class="container">
    <br>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-10">
            <ul class="list-group">
                <li class="list-group-item" th:each="newsItem : ${news}">
                    <h3><a th:href="@{'news/' + ${newsItem.id}}" th:text="${newsItem.title}"></a></h3>
                    <p th:text="${newsItem.lead}"></p>
                </li>
            </ul>
        </div>
        <div class="col">
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" th:each="newsItem : ${news}">
                        <h6 th:text="${newsItem.title}"></h6>
                    </li>
                </ul>
            </div>
            <div class="row">
                <br>
            </div>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" th:each="newsItem : ${news}">
                        <h6 th:text="${newsItem.title}"></h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:replace="base :: scripts"></div>
</body>
</html>