<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>NewsPortal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<header th:replace="base :: header"></header>

<div class="container">
    <br>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 th:text="${newsItem.title}">Title</h1>

            <h5 th:text="${newsItem.lead}">Lead</h5>
            <p th:text="'Published: ' + ${newsItem.getFormattedPublishTime()}"></p>

            <p th:text="${newsItem.content}">Content</p>
            <br>
            <h7>Writers:</h7>
            <ul class="list">
                <li class="list-item" th:each="writer : ${newsItem.writers}">
                    <p th:text="${writer.name}"></p>
                </li>
            </ul>
            <div th:if="${newsItem.image != null}">
                <img th:src="@{/images/{id}(id=${newsItem.image.id})}"/>
            </div>

        </div>
        <div class="col">
            <h5>Categories</h5>
            <ul class="list-group">
                <li class="list-group-item" th:each="category : ${newsItem.categories}">
                    <p th:text="${category.name}"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="btn-toolbar" role="toolbar" sec:authorize="hasAnyAuthority('WRITER')">
        <div class="btn-group mr-2" role="group">
            <a th:href="@{/news/{id}/edit(id=${newsItem.id})}" type="submit"
               class="btn btn-primary btn">Edit</a>
        </div>
        <div class="btn-group mr-2" role="group">
            <form th:action="@{/news/{id}(id=${newsItem.id})}" th:method="DELETE">
                <button type="submit" class="btn btn-danger btn">Delete</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list">
                <h3>Newest</h3>
                <li class="list-group-item" th:each="newsItem : ${latestNews}">
                    <h6><a th:href="@{/news/{id}(id=${newsItem.id})}" th:text="${newsItem.title}"/></h6>
                    <p th:text="${newsItem.getFormattedPublishTime()}"></p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list">
                <h3>Most viewed</h3>
                <li class="list-group-item" th:each="newsItem : ${topNews}">
                    <h6><a th:href="@{/news/{id}(id=${newsItem.id})}" th:text="${newsItem.title}"/></h6>
                    <p th:text="${newsItem.getFormattedPublishTime()}"></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="base :: scripts"></div>
</body>
</html>
